
**.idea
*.log
**.ipynb
**.txt
**.egg-info
**/test_env
**/__pycache__


**/bak/**
**/venv/**
**/doc/**
**/test/**
/res/db
/res/pics
/res/results_HPC
/ddpg/res/**

**/src/*.ipynb
**/.ipynb_checkpoints

**/src/*.sw[op]

.DS_Store
